@charset "UTF-8";
/* #container */
#container{
	padding: 30px;
}
.container_in{
	width: 1200px;
	margin: 0 auto;
}
.title{
	font-size: 25px;
	line-height: 1.5em;
}
.title_sub{
	font-size: 18px;
	color: #aaa;
	margin-bottom: 15px;
}
.title_sub_view{
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #ccc;
}
.check_pw_section{
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.check_text{
	font-size: 16px;
	margin-bottom: 10px;
}
.check_pw_section input[name="pw"]{
	width: 200px;
	height: 30px;
	border-radius: 10px;
	padding: 0 10px;
	font-size: 15px;
	margin-right: 10px;
}
.check_pw_section input[type="submit"]{
	width: 100px;
	height: 34px;
	border-radius: 10px;
	font-size: 15px;
	
}







.pager{
	text-align: center;
}
.pager a{
	font-size: 15px;
	color : #666;
}
