@charset "UTF-8";
/* #container */
#container{
	padding: 30px;
}
.container_in{
	width: 1200px;
	margin: 0 auto;
}
/* 로그인에 항목이 없을 경우 뜨는 화면 */
.no_login{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 600px;
	line-height: 2.5em;
}
.no_login p{
	font-size: 20px;
	color: #666;
}
.no_login a{
	display: block;
	width: 150px;
	height: 40px;
	border: 1px solid #666;
	border-radius: 5px;
	font-size: 20px;
	color: #666;
	text-align: center;
	line-height: 40px;
}
/* 로그인에 항목이 없을 경우 뜨는 화면 끝*/

.title{
	font-size: 25px;
	line-height: 1.5em;
}
.title_sub{
	font-size: 18px;
	color: #aaa;
	margin-bottom: 15px;
}
.title_sub_view{
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #ccc;
}

.discount_list{
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
}
.discount_list li{
	position: relative;
	margin-right: 40px;
	margin-bottom: 30px;
	border-radius: 10px;
	overflow: hidden;
}
.discount_box{
	position: relative;
	width: 270px;
	height: 350px;
	padding: 20px 20px 60px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
}
.discount_box:hover{
	background-color: #f4f4f4;
	cursor: pointer;
}
.discount_box:nth-child(4n){
	margin-right: 0;
}
.discount_img{
	width: 228px;
	height: 171px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 10px;
}
.discount_img img{
	width: 228px;
	height: 171px;
	object-fit: cover;
}
.discount_title{
	font-size: 14px;
	font-weight: 700;
}
.discount_config{
	height: 70px;
	overflow: hidden;
	padding-left: 10px;
	font-size: 12px;
	color: #666;
	line-height: 14px;
}
.discount_config p{
	padding-left: 40px;
}
.total_price{
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.origin_price{
	text-decoration: line-through;
	color: #666;
	line-height: 12px;
}
.hide_box{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
}
.hide_box input{
	display: block;
	width: 120px;
	height: 30px;
	margin-bottom: 10px;
	background-color: orange;
	border: 0;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}
.hide_box input:hover{
	background-color: rgb(248, 189, 78);
}

.pager{
	text-align: center;
}
.pager a{
	font-size: 15px;
	color : #666;
}