@charset "UTF-8";
/* #container */
#container{
	padding: 30px;
}
.container_in{
	width: 1200px;
	margin: 0 auto;
}
.title{
	font-size: 25px;
	line-height: 1.5em;
}
.title_sub{
	font-size: 18px;
	color: #aaa;
	margin-bottom: 15px;
}
.title_sub_view{
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #ccc;
}
.event_box{
	display: flex;
	padding: 30px;
}
.event_left{
	width: 600px;
	height: 250px;
	margin-right: 30px;
}
.event_title a{
	color: #222;
	font-size: 15px;
}
.event_title a:hover{
	text-decoration: underline;
}
.event_date{
	color: #666;
	font-size: 13px;
}


.pager{
	text-align: center;
}
.pager a{
	font-size: 15px;
	color : #666;
}
