@charset "utf-8";
/* #wrap */
#wrap{
    overflow: hidden;
    min-width: 1240px;
}
/* #header */
#header{
    box-shadow: 0 1px 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
.header_in{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.header_1{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h_logo a{
    display: block;
    width: 187.5px;
    height: 75px;
    background-image: url(../img/logo_250_100.png);
    background-size: 187.5px auto;
    background-repeat: no-repeat;
    text-indent: -99999px;
}
.h_gnb{
    height: 60px;
}
.h_gnb ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h_gnb ul li a{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
}
.h_gnb ul li a span{
    position: relative;
    font-size: 18px;
    color: #222;
}
.h_gnb ul li a span::after{
    position: absolute;
    bottom: -10px;
    left: 50%;
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 0;
    height: 2px;
    transition: 0.3s;
}
.h_gnb ul li a:hover span::after{
    left: 0;
    width: 100%;
}
.h_util{
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
}
.h_util ul{
    display: flex;
}
.h_util li{
    margin-right: 10px;
}
.h_util a{
    display: block;
    width: 70px;
    height: 20px;
    font-size: 15px;
    color: #222;
    text-align: center;
}