@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    color: #222;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 1.6em;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: top;
    border: 0;
    width: 100%;
    height: auto;
}
